@model IEnumerable<ArtistAssignment.Models.Song>

@{
    ViewBag.Title = "Songs";
}

<div class="Albumsbg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="Albumstitlepage">
                    <h2>Song</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <p>
        Find Song: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Artist
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Artist.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
